.grid {
	/*-fx-background-color: white;*/
	-fx-background-radius: 5.0;
	-fx-background-insets: 0.0 5.0 0.0 5.0;
	-fx-padding: 10;
	-fx-margin : 15;
	-fx-hgap: 15;
	-fx-vgap: 15;
}


#run_connections_report:hover {
	-fx-text-fill : #8cffb9;
	-fx-background-color: #003d72;
}

.button {
	-fx-background-color: #00498a;
	-fx-text-fill : white;
	
}
.button:hover 
{
  -fx-background-color: #003d72;
  -fx-text-fill : #8cffb9;
  -fx-border-color: #8cffb9;
  -fx-border-width: 0 0 0 5;
} 

.split-pane-divider {
	-fx-background-color: transparent;
}

.split-pane {
	-fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
#run_connections_report:hover {
	-fx-text-fill : #8cffb9;
	-fx-background-color: #003d72;
}

.errorTicket{
	/*-fx-background-color: rgba(0, 73, 138, 0.49);*/
	/*-fx-text-fill : white;*/
	/*-fx-tick-label-fill: white;*/
	-fx-padding: 15px;
}

.errorTicket:hover{
	-fx-background-color: #bee4ff;
	/*-fx-text-fill : #8cffb9;*/
	-fx-border-color: #8cffb9;
	-fx-border-width: 0 0 0 5;
}

.buttonErrorStatusOpen{
	-fx-margin: 15px;
	-fx-background-color: red;
}

.buttonErrorStatusOpen:hover{
	-fx-margin: 15px;
	-fx-background-color: red;
	-fx-border-color: darkred;
	-fx-border-width: 0 0 0 5;
	-fx-text-fill : white;
}

.buttonErrorStatusClosed{
	-fx-margin: 15px;
	-fx-background-color: green;
}

.buttonErrorStatusClosed:hover{
	-fx-margin: 15px;
	-fx-background-color: green;
	-fx-border-color: darkgreen;
	-fx-border-width: 0 0 0 5;
	-fx-text-fill : white;

}

.ticketSelected{
	-fx-background-color: #bee4ff;
	/*-fx-text-fill : #8cffb9;*/
	-fx-border-color: #8cffb9;
	-fx-border-width: 0 0 0 5;

}